<settings>
<category label="General">
		<setting type="lsep" label="Enable or Disable Sections."/>
		<setting id="enable_clear_images" type="bool" label="Clear LiveMe Images:" default="true" />
		<setting id="enable_settings" type="bool" label="Show Settings:" default="true" />
		<setting type="lsep" label="Auto-Clear"/>
        <setting id="auto_clear" type="bool" label="Auto-Clear LiveMe Images:" default="false" />
</category>

<category label="View Modes">
       <setting id="enable_custom_view" type="bool" label="Enable Custom View Modes:" default="false" />
       <setting id="menu_view" type="number" enable="eq(-1,true)" label="Menu View Mode" default="50" />
       <setting id="thumb_view" type="number" enable="eq(-2,true)" label="Thumbnail View Mode" default="500" />
</category>
</settings>